{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <div id="allpages" class="allprofile-container">
    <nav>
        <ul>
            {%if profile%}
            <li> <img id="profile-picture-preview1" class="profile-preview1" src="data:image;base64,{{profile}}" alt="Profile Picture"></li>
            {%else%}
            <li> <img id="profile-picture-preview1" class="profile-preview1" src="{% static 'image/profile.png' %}" alt="Profile Picture"></li>
            {%endif%}
            <li><a href="/">Home</a></li>
            <li><a href="#" onclick="showFriends()"><span id="friends-count">Friends 0</span></a></li>
            <li><a href="#" onclick="showNotifications()">Notifications <span id="notification-count">0</span></a></li>
            <li class="dropdown">
                <a href="#">Settings</a>
                <div class="dropdown-content">
                    <a href="#">Account Settings</a>
                    <a href="#" onclick="showProfileForm()">Edit Profile</a>
                    <a href="#">Change Password</a>
                    <a href="/logout/">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    
    <div id="user-details" class="user-details-container">
        <!-- User details profile -->
        <img id="profile-picture" class="profile-picture" src="" alt="Profile Picture">
        <h2 id="user-name" class="user-name">User Details</h2>
        <p id="user-bio" class="user-bio">User Bio</p>
        <button id="follow-button" class="follow-button">Follow</button>
        <button id="unfollow-button" class="follow-button">Un Follow</button>
    </div>

    
    <div id="notification-detailsall" class="notification-container" style="display: none;">
        <ul class="followerchat-users-list">
            <li class="followerchat-user-item">
                <div class="container-content">
                    <div class="profile-picture-container">
                        <img class="followerprofile-picture" src="" alt="Profile Picture">
                    </div>
                    <span class="followerchat-user-name"></span>
                    <div class="follower-buttons">
                        <button class="followerchat-user-action">Accept</button>
                        <button class="followerchat-user-action">Decline</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="edit-profile" class="edit-profile-container" style="display: none;">
        <!-- Edit profile form -->
        <br>
        <form id="edit-profile-form" method="POST" action="/submitbio/" enctype="multipart/form-data">
            <h2>{{name}}</h2><br>
            {% csrf_token %}
            <label for="bio" class="edit-label">Bio:</label><br>
            <textarea id="bio" name="bio" class="edit-textarea">{{bio}}</textarea><br>
            <!-- Profile Picture -->
            <label for="profile-picture-input" class="profile-label"><br>
                {% if profile %}
                <img id="profile-picture-preview" class="profile-preview" src="data:image;base64,{{ profile }}" alt="Profile Picture">
                {% else %}
                <img id="profile-picture-preview" class="profile-preview" src="{% static 'image/profile.png' %}" alt="Profile Picture">
                {% endif %}
            </label>
            {% if new_path %}
            <input type="file" id="profile-picture-input" name="profile" style="display: none;" value="{{ new_path }}" onchange="previewImage(event)">
            {% else %}
            <input type="file" id="profile-picture-input" name="profile" style="display: none;" onchange="previewImage(event)">
            {% endif %}
            <br><br>
            
            <button type="submit" class="save-button">Save</button>
        </form>
    </div>

    <div id="chat-users" class="chat-users-container">
        <!-- Chat users list -->
        <h2 class="chat-users-heading">Suggestions</h2>
        <ul id="user-list" class="chat-users-list">
            <li onclick="showUserProfile('User1')" class="chat-user-item">
                <img src="{% static 'image/profile.png' %}" alt="User1" class="chat-user-img">
                <span class="chat-user-name">Loading</span>
            </li>
            <!-- Add more users as needed -->
        </ul>
    </div>
</div>
    <!-- JavaScript code -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var currentusername="{{name}}"
        function showUserProfile(userName, userBio, userProfile,followbtn) {
            var userDetails = document.getElementById('user-details');
            var userNameElement = document.getElementById('user-name');
            var userBioElement = document.getElementById('user-bio');
            var profilePicture = document.getElementById('profile-picture');
            var followButton = document.getElementById('follow-button');
            var unfollowButton = document.getElementById('unfollow-button');
            if (followbtn) {
                followButton.style.display = 'block'; 
                unfollowButton.style.display = 'none'; 
            }
            else{
                followButton.style.display = 'none'; 
                unfollowButton.style.display = 'block'; 
            }
            // Set user details and show the section
            userNameElement.textContent = userName;
            userBioElement.textContent = userBio;
            profilePicture.src = userProfile;
            userDetails.style.display = 'block';
        }
        function updateNotificationDetails(users) {
            var chatUsersList = document.querySelector('.followerchat-users-list');
            chatUsersList.innerHTML = '';
            var totalFollowerCount = 0;
            console.log("==========",users)
            users.forEach(profile => {

                var followerItem = document.createElement('li');
                followerItem.className = 'followerchat-user-item';
                
                var userImg = document.createElement('img');
                console.log(profile.profile_url)
                if(profile.profile_url=== "Not"){
                    userImg.src ="{% static 'image/profile.png' %}";
                }
                else{
                    userImg.src = "data:image;base64," +profile.profile_url;
                }
                
                userImg.alt = profile.username;
                userImg.className = 'followerprofile-picture';
                followerItem.appendChild(userImg);

                var userName = document.createElement('span');
                userName.className = 'followerchat-user-name';
                userName.textContent = profile.username;
                followerItem.appendChild(userName);

                var followerButtons = document.createElement('div');
                followerButtons.className = 'follower-buttons';

                var acceptButton = document.createElement('button');
                acceptButton.textContent = 'Accept';
                acceptButton.className = 'followerchat-user-action';
                // Add event listener for accept button
                acceptButton.addEventListener('click', function() {
                    submitAction(profile.username, 'accept');
                });
                followerButtons.appendChild(acceptButton);

                var declineButton = document.createElement('button');
                declineButton.textContent = 'Decline';
                declineButton.className = 'followerchat-user-action';
                // Add event listener for decline button
                declineButton.addEventListener('click', function() {
                    submitAction(profile.username, 'decline');
                });
                followerButtons.appendChild(declineButton);

                followerItem.appendChild(followerButtons);

                chatUsersList.appendChild(followerItem);
                totalFollowerCount++;
            });

            document.getElementById('notification-count').textContent = totalFollowerCount;
            
        }

// window.onload = function() {
//         var userNameElement = document.querySelector('.followerchat-user-name');
//         console.log(userNameElement)
//         if (userNameElement.textContent.trim() !== '') {
//             document.getElementById('notification-detailsall').style.display = 'block';
//         }
//     };
function submitAction(username, action) {

    var data = JSON.stringify({ username: username, action: action });
    var csrftoken = getCookie('csrftoken');
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/accept-decline-follow/', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', csrftoken);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            console.log(xhr.responseText);
        }
    };
    xhr.send(data);
}

        // Function to update chat users list
        function updateChatUsersList(users) {
            var chatUsersList = document.querySelector('.chat-users-list');
            chatUsersList.innerHTML = '';
            users.forEach(user => {
                // Skip adding the current user's profile
                if (user.follower_profiles || user.followers_profile){
                    return;
                }
                
                if (user.name === currentusername) {
                    return;
                }
                
                var listItem = document.createElement('li');
                listItem.className = 'chat-user-item';
                listItem.onclick = function() {
                    if (user.profile === "Not") {
                        showUserProfile(user.name, user.bio, "{% static 'image/profile.png' %}",user.followbtn);
                    }
                    else{
                        showUserProfile(user.name, user.bio,  "data:image;base64,"+user.profile,user.followbtn);
                    }
                };
                var userImg = document.createElement('img');
                if (user.profile === "Not") {
                    userImg.src="{% static 'image/profile.png' %}";
                }
                else{
                    userImg.src = "data:image;base64," + user.profile;
                }
                
                userImg.alt = user.name;
                userImg.className = 'chat-user-img';
                listItem.appendChild(userImg);

                var userName = document.createElement('span');
                userName.className = 'chat-user-name';
                userName.textContent = user.name;
                listItem.appendChild(userName);

                chatUsersList.appendChild(listItem);
            });
        }


        function showProfileForm() {
            var editProfile = document.getElementById('edit-profile');
            if (editProfile.style.display === 'block') {
                editProfile.style.display = 'none'; // Close the form if it's already open
            } else {
                editProfile.style.display = 'block'; // Otherwise, open the form
            }
        }

        function showNotifications() {
            var editProfile = document.getElementById('notification-detailsall');
            if (editProfile.style.display === 'block') {
                editProfile.style.display = 'none'; // Close the form if it's already open
            } else {
                var userNameElement = document.querySelector('.followerchat-user-name');
                console.log(userNameElement)
                if (userNameElement.textContent.trim() !== '') {
                    document.getElementById('notification-detailsall').style.display = 'block';
                    editProfile.style.display = 'block'; 
                }
            }
        }
        $.ajax({
            url: '/get_user_details/',  // Replace '/your-url/' with the actual URL endpoint
            type: 'GET',
            success: function(response) {
                var userData = response.user_data;
                var followData = response.follow_data;
                updateChatUsersList(userData)
                updateNotificationDetails(followData)
                // Process userData and followData as needed
            },
            error: function(xhr, status, error) {
                // Handle errors here
                console.error('Error:', error);
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('follow-button').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default form submission behavior
            
            // Extract necessary data
            var accountName = document.getElementById('user-name').textContent;
            var followResponse = document.getElementById('follow-button').textContent;

            // Get CSRF token
            var csrftoken = getCookie('csrftoken');

            // Send data to the backend using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/follow/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', csrftoken); // Include CSRF token in headers
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Handle response from the server if needed
                    console.log('Follow request sent successfully');
                }
            };
            var data = JSON.stringify({ accountName: accountName, followResponse: followResponse });
            xhr.send(data);
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('unfollow-button').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default form submission behavior
            
            // Extract necessary data
            var accountName = document.getElementById('user-name').textContent;
            var followResponse = document.getElementById('unfollow-button').textContent;

            // Get CSRF token
            var csrftoken = getCookie('csrftoken');

            // Send data to the backend using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/follow/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', csrftoken); // Include CSRF token in headers
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Handle response from the server if needed
                    console.log('Follow request sent successfully');
                }
            };
            var data = JSON.stringify({ accountName: accountName, followResponse: followResponse });
            xhr.send(data);
        });
    });

    // Function to retrieve CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function previewImage(event) {

        const preview = document.getElementById('profile-picture-preview');
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
    document.addEventListener('dblclick', function(event) {
    // Close all open containers
    var notificationProfile = document.getElementById('notification-detailsall');
    var editProfile = document.getElementById('edit-profile');
    var userdetails = document.getElementById('user-details');
    
    // Check if the elements are found before trying to hide them
    if (notificationProfile) {
        notificationProfile.style.display = 'none';
    }
    if (editProfile) {
        editProfile.style.display = 'none';
    }
    if (userdetails) {
        userdetails.style.display = 'none';
    }
});

const userList = document.getElementById('user-list');
let isMouseDown = false;
let startX;
let scrollLeft;

userList.addEventListener('mousedown', (e) => {
  isMouseDown = true;
  startX = e.pageX - userList.offsetLeft;
  scrollLeft = userList.scrollLeft;
});

userList.addEventListener('mouseleave', () => {
  isMouseDown = false;
});

userList.addEventListener('mouseup', () => {
  isMouseDown = false;
});

userList.addEventListener('mousemove', (e) => {
  if (!isMouseDown) return;
  e.preventDefault();
  const x = e.pageX - userList.offsetLeft;
  const walk = (x - startX) * 3; // Adjust scroll speed
  userList.scrollLeft = scrollLeft - walk;
});

    </script>
</body>
</html>
