{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/home.js' %}?v=1.0"></script>
</head>
<body>
    <div id="allpages" class="allprofile-container">
    <nav>
        <ul>
            {%if profile%}
            <li> <img id="profile-picture-preview1" class="profile-preview1" src="data:image;base64,{{profile}}" alt="Profile Picture"></li>
            {%else%}
            <li> <img id="profile-picture-preview1" class="profile-preview1" src="{% static '/image/profile.png' %}" alt="Profile Picture"></li>
            {%endif%}
            <li><a href="/">Home</a></li>
            <li><a href="#" onclick="showfriends()">Friends <span id="friends-count">0</span></a></li>
            <li><a href="#" onclick="showNotifications()">Notifications <span id="notification-count">0</span></a></li>
            <li class="dropdown">
                <a href="#">Settings</a>
                <div class="dropdown-content">
                    <a href="#">Account Settings</a>
                    <a href="#" onclick="showProfileForm()">Edit Profile</a>
                    <a href="#">Change Password</a>
                    <a href="/logout/">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    
    <div id="user-details" class="user-details-container">
        <!-- User details profile -->
        <img id="profile-picture" class="profile-picture" src="" alt="Profile Picture">
        <h2 id="user-name" class="user-name">User Details</h2>
        <p id="user-bio" class="user-bio">User Bio</p>
        <button id="follow-button" class="follow-button">Follow</button>
        <button id="unfollow-button" class="follow-button">Un Follow</button>
    </div>

    
    <div id="notification-detailsall" class="notification-container" style="display: none;">
        <ul class="followerchat-users-list">
            <li class="followerchat-user-item">
                <div class="container-content">
                    <div class="profile-picture-container">
                        <img class="followerprofile-picture" src="" alt="Profile Picture">
                    </div>
                    <span class="followerchat-user-name"></span>
                    <div class="follower-buttons">
                        <button class="followerchat-user-action">Accept</button><br><br>
                        <button class="followerchat-user-action">Decline</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="friends-detailsall" class="friendslist-container" style="display: none;">
        <ul class="friendslist-users-list">
            <li class="friendslist-user-item">
                <div class="container-content">
                    <div class="profile-picture-container">
                        <img class="friendslistprofile-picture" src="" alt="Profile Picture">
                    </div>
                    <span class="friendslist-user-name"></span>
                    <div class="friendslist-buttons">
                        <button class="friendslist-user-action">Accept</button><br><br>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    

    <div id="edit-profile" class="edit-profile-container" style="display: none;">
        <!-- Edit profile form -->
        <br>
        <form id="edit-profile-form" method="POST" action="/submitbio/" enctype="multipart/form-data">
            <h2>{{name}}</h2><br>
            {% csrf_token %}
            <label for="bio" class="edit-label">Bio:</label><br>
            <textarea id="bio" name="bio" class="edit-textarea">{{bio}}</textarea><br>
            <!-- Profile Picture -->
            <label for="profile-picture-input" class="profile-label"><br>
                {% if profile %}
                <img id="profile-picture-preview" class="profile-preview" src="data:image;base64,{{ profile }}" alt="Profile Picture">
                {% else %}
                <img id="profile-picture-preview" class="profile-preview" src="{% static 'image/profile.png' %}" alt="Profile Picture">
                {% endif %}
            </label>
            {% if new_path %}
            <input type="file" id="profile-picture-input" name="profile" style="display: none;" value="{{ new_path }}" onchange="previewImage(event)">
            {% else %}
            <input type="file" id="profile-picture-input" name="profile" style="display: none;" onchange="previewImage(event)">
            {% endif %}
            <br><br>
            <input type="submit">
        </form>
    </div>

    <div id="chat-users" class="chat-users-container">
        <!-- Chat users list -->
        <h2 class="chat-users-heading">Suggested for you</h2>
        <div class="chat-all-userlist">
            <ul id="user-list" class="chat-users-list">
                <li onclick="showUserProfile('User1')" class="chat-user-item">
                    <img src="{% static 'image/profile.png' %}" alt="User1" class="chat-user-img">
                    <span class="chat-user-name">Loading</span>
                </li>
                <!-- Add more users as needed -->
            </ul>
        </div>
    </div>
</div>
    <!-- JavaScript code -->
    <script>
        var profileImageUrl = "{% static 'image/profile.png' %}";
    </script>
</body>
</html>
