{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-profile-container">
        <h2>Login</h2><br>
        {% if error_message %}
        <p>{{ error_message }}</p><br>
        {% endif %}
        <form method="post" action="/login/">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit" value="Login">Login</button>
        </form>
    </div>
</body>
</html>